<!doctype html>
<html>

<head>
    <title> Getting started with dhtmlxScheduler</title>
    <meta charset="utf-8">
    <script src="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler.js"></script>
    <link href="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler_material.css" rel="stylesheet" type="text/css"
        charset="utf-8">
    <style>
        html,
        body {
            margin: 0px;
            padding: 0px;
            height: 100%;
            overflow: hidden;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion des vols</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <link rel="stylesheet" href="/static/vendors/toastify/toastify.css">
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/static/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="shortcut icon" href="/static/images/favicon.svg" type="image/x-icon">
</head>

<body>
    <div class="logo">
        <a href="/">Accueil</a>
    </div>
    {% if not session["idUser"] %}
    <div class="alert alert-danger text-center">Veuillez vous connecter pour ajouter ou modifier un créneau</div>
    {% endif %}
    <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100%;'>
        <div class="dhx_cal_navline">
            <div class="dhx_cal_prev_button">&nbsp;</div>
            <div class="dhx_cal_next_button">&nbsp;</div>
            <div class="dhx_cal_today_button"></div>
            <div class="dhx_cal_date"></div>
            <div class="dhx_cal_tab" name="day_tab"></div>
            <div class="dhx_cal_tab" name="week_tab"></div>
            <div class="dhx_cal_tab" name="month_tab"></div>
        </div>
        <div class="dhx_cal_header"></div>
        <div class="dhx_cal_data"></div>
    </div>
    <script>
        scheduler.i18n.setLocale("fr");
        scheduler.init("scheduler_here", new Date(), "week");
        scheduler.setLoadMode("day");

        // load data from the backend
        fetch('/load_events', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json; charset=UTF-8' },
            body: new URLSearchParams(),
        })
            .then((res) => res.json())
            .then((data) => {

                console.log(data)
                scheduler.parse(data, "json")
            })

            .catch((err) => console.log(err))

        //ajouter evenements dans la BDD
        scheduler.attachEvent("onEventAdded", function (id, e) {
            //any custom logic here
            //e.text e.start_date e.end_date e.color
            console.log(e, id)

            let obj = scheduler.getEvent(id)

            var formatFunc = scheduler.date.date_to_str("%Y-%m-%d %H:%i")


            fetch('/create_events', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' },
                body: new URLSearchParams({ "text": obj.text, "start_date": formatFunc(obj.start_date), "end_date": formatFunc(obj.end_date) }),
            })
                .then((res) => res.json())
                .then((lastId) => { obj.id = parseInt(lastId) })

                .catch((err) => console.log(err))


        });

        //supprimer evenement de la BDD
        scheduler.attachEvent("onEventDeleted", function (id, ev) {
            fetch('/delete_events', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' },
                body: new URLSearchParams({ "id": id }),
            })
                .catch((err) => console.log(err))
        });

        //modifier evenement de la BDD
        scheduler.attachEvent("onEventChanged", function (id, e) {
            console.log(e, id)

            let obj = scheduler.getEvent(id)

            var formatFunc = scheduler.date.date_to_str("%Y-%m-%d %H:%i")


            fetch('/update_events', {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8' },
                body: new URLSearchParams({ "id": id, "text": obj.text, "start_date": formatFunc(obj.start_date), "end_date": formatFunc(obj.end_date) }),
            })

                .catch((err) => console.log(err))
        });

    </script>

</body>

</html>